$formcontainerbgColor: #30343f;
$formbgColor: #e1e1dd;

* {
  margin: 0;
  box-sizing: border-box;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: $formcontainerbgColor;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__form {
    border-radius: 10px;
    padding: 25px;
    width: 800px;
    padding-right: 140px;
    background-color: $formbgColor;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 5px 0px,
      rgba(255, 255, 255, 0.1) 0px 0px 10px 5px;
    position: relative;
    @media (max-width: 780px) {
      width: 400px;
      padding: 25px;
    }
    @media (max-width: 500px) {
      width: 300px;
      padding: 15px;
    }
  }

  &__social {
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: $formbgColor;
    @media (max-width: 780px) {
      bottom: 2%;
      left: 5%;
    }
  }

  &__title {
    margin-left: 130px;
    padding-bottom: 25px;
    color: #30343f;
    @media (max-width: 780px) {
      padding-bottom: 25px;
      margin-left: 50px;
    }

    @media (max-width: 500px) {
      padding-bottom: 25px;
      margin-left: 20px;
    }
  }

  &__linkedin {
    padding: 5px;
    border: none;
    text-align: center;
    font-size: 28px;
    color: #fff;
    background-color: #30343f;
    border-radius: 4px;
    margin: 2.5px;
    &:hover {
      opacity: 0.8;
      transform: scale(0.96);
    }
    @media (max-width: 780px) {
      font-size: 18px;
    }
  }

  &__github {
    padding: 5px;
    border: none;
    text-align: center;
    font-size: 28px;
    color: #fff;
    background-color: #30343f;
    border-radius: 4px;
    margin: 2.5px;

    &:hover {
      opacity: 0.8;
      transform: scale(0.96);
    }

    @media (max-width: 780px) {
      font-size: 18px;
    }
  }
  &__appAuthor {
    font-family: "Caveat", cursive;
    color: #e1e1dd;
    font-size: 22px;
    margin-top: 10px;
  }

  &__buttonsContainer {
    display: block;
    @media (max-width: 780px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 10px;
    }
    @media (max-width: 500px) {
      margin-right: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__btpButton {
    margin: 15px;
  }
}
