@import "../newCompliment/NewCompliment.scss";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");

$font: "Dosis", sans-serif;

@mixin theme() {
  margin-right: 100px;
  width: 450px;

  @media (max-width: 720px) {
    width: 300px;
    margin-right: 50px;
  }
  @media (max-width: 580px) {
    width: 200px;
    margin: auto;
  }
}

.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $formcontainerbgColor;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__title {
    font-family: $font;
    padding: 15px 5px;
    text-align: center;
  }

  &__authForm {
    margin: auto;
    width: 550px;
    @media (max-width: 720px) {
      width: 400px;
      padding: 20px;
    }
  }

  &__email {
    @include theme;
  }
  &__password {
    @include theme;
  }

  &__form {
    padding: 25px;
    background-color: $formbgColor;
    border-radius: 10px;
  }

  &__errNotification {
    text-align: center;
    color: black;
    font-family: $font;
    height: 20px;
  }
}
